@model Sport.Pass

@{
    ViewData["Title"] = "Про абонемент";
}

<h1>Про абонемент</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gym.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gym.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> 
</div>
<table>
    <tr>
        <td>
            <form method="get" asp-controller="Passes" asp-action="Index">
                <input type="submit" class="btn btn-secondary" value="До списку абонементів" />
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form method="get" asp-controller="Home" asp-action="Index">
                <input type="submit" class="btn btn-secondary" value="Повернутись до меню" />
            </form>
        </td>
    </tr>
</table>
