@model Sport.Gym

@{
    ViewData["Title"] = "Видалити";
}



<h3>Видалити зал?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
    </form>
    <br />
    <table>
        <tr>
            <td>
                <form method="get" asp-controller="Gyms" asp-action="Index">
                    <input type="submit" class="btn btn-secondary" value="До списку залів" />
                </form>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <form method="get" asp-controller="Home" asp-action="Index">
                    <input type="submit" class="btn btn-secondary" value="Повернутись до меню" />
                </form>
            </td>
        </tr>
    </table>
</div>
